.item {
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);      
    margin: 8px; 
}

.col.moviePoster {
    height: 75%;
}

.wrapper {
    padding: 0px;
}

.poster {
    width: 100%;
    height: 100%;    
}

.row.infoMovie {
    height: 25%;
    padding: 20px;
    background: #FFFFFF;
    flex-direction: column;
    margin: 0px;
    opacity: 0.5;
}

.nameMovie {
    padding: 3px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #494C62;
    margin: 0px;
}

.categoriesMovie {
    padding: 3px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    width: 70%;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #BABBC3;
}

.ratingMovie {
    border: 2px solid #FF0079;
    box-sizing: border-box;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FF0079;
    padding: 10px;
    width: 50px;
}

.col.releaseDate {
    position: absolute;
    top: 330px;
    left: 30px;
    z-index: 1;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 45px;

    color: #BABBC3;
}
