
.row.Header {
    margin: 0px;
    padding: 0px;
    flex-wrap: nowrap;
    background: #EE8686;
}

.titleLogo {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.buttonShowFavoriteMovies {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    background: #EE8686;
    margin-right: 5px;    
}

.buttonText {
    color: #FFFFFF;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
}

.buttonShowFavoriteMovies.active {
    background: #FFFFFF;
}

.buttonText.active {
    color: #EE8686;
}
