.row.Footer {
    background: #FFFFFF;
    height: 150px;
    margin: 0px;
}

.wrapperFoterLogo {
    margin-top: 15px;
}

.footerLogo {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    text-align: start;
    color: #494C62;
    margin-left: 30px;
}

.otherInformation {
    margin-top: 30px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: end;
    color: #80818A;
    padding: 0px;
}